@import "@styles/App";

.feedback-form {
  @include display(flex, column, unset, unset);
  max-width: 708px;
  width: 100%;
  margin-top: 96px;
  &__title {
    @include heading-48-medium;
    font-size: 32px;
    line-height: 130%;
    color: $gray-500;
    margin-bottom: 32px;
  }
  &__wrapper-name-phone {
    @include display(flex, row, space-between, unset);
    margin-bottom: 24px;
  }
  &__wrapper-name {
    @include display(flex, column, flex-start, unset);
    max-width: 342px;
    width: 100%;
    .title {
      @include body-16-regular;
      margin-bottom: 4px;
      color: $gray-500;
    }
  }
  &__wrapper-phone {
    @include display(flex, column, flex-start, unset);
    max-width: 342px;
    width: 100%;
    .title {
      @include body-16-regular;
      margin-bottom: 4px;
      color: $gray-500;
    }
  }
  &__wrapper-comment {
    @include display(flex, column, flex-start, unset);
    .title {
      @include body-16-regular;
      margin-bottom: 8px;
      color: $gray-500;
    }
    .character-count {
      @include body-18-light;
      font-size: 12px;
      line-height: 130%;
      color: $gray-350;
      margin-left: auto;
      margin-top: 8px;
    }
  }
  &__submit-button {
    max-width: 259px;
    width: 100%;
    @include body-18-medium;
    color: $white;
    padding: 13px 48px;
    background-color: $brown-500;
  }
  &__submit-button:hover {
    background-color: $brown-500;
  }
}
