@import "@styles/App";

.design {
  &__colorslot {
    padding-bottom: 8px;
  }

  &__button {
    margin-right: 16px;
    min-width: 0;
    width: 32px;
    height: 32px;
    color: $gray-500;
    border: 2px solid $gray-500;
    border-radius: 4px;
  }

  &__text {
    @include body-16-regular();
    color: $gray-500;
  }
}
