@import "../../../../../../styles/App";

.wrapper {
  width: 1440px;
  border-bottom: 1px solid $gray-250;
  margin-top: 56px;
  @media (max-width: $screen-md) {
    display: none;
  }

  &__title {
    @include heading-40-medium;
    color: $gray-500;
    margin-bottom: 24px;
  }
}
