.button-scroll-up {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 999;
    animation: .5s move-left;
    display: none;
    @media (max-width: $screen-md) {
        display: block;
    }
}

.hidden {
    bottom: 16px;
    right: -60px;
    animation: .5s move-right;
}

@keyframes move-left {
    from {
        right: -16px;
    }
    to {
        right: 16px;
    }
}

@keyframes move-right {
    from {
        right: 16px;
    }
    to {
        right: -60px;
    }
}
