@import "@styles/App";

.input {
  max-width: 165px;
  color: $gray-500;
  border-color: $gray-250;

  :global(.MuiInputBase-input) {
    text-align: center;
  }

  &:hover {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: $gray-300;
    }
  }

  &:global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
    border-color: $gray-350;
  }

  &__error {
    @include body-18-light();
    font-size: 14px;
    color: red;
  }
}
