@import "@styles/App";

.img-block {
  @include display(flex, column, unset, unset);
  &__title {
    @include heading-48-medium;
    font-size: 32px;
    line-height: 130%;
    color: $gray-500;
    @media (max-width: $screen-md) {
      font-size: 24px;
      line-height: 100%;
    }
  }
  &__subtitle {
    @include body-18-regular;
    color: $gray-500;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .img-block__wrapper-imgs {
    @include display(flex, row, space-between, unset);
    flex-wrap: wrap;
    @media (max-width: $screen-md) {
      display: none;
    }
    .wrapper-img {
      @include display(flex, column, flex-start, unset);
      max-width: 342px;
      @media (max-width: $screen-md) {
        display: none;
      }
      &__img {
        max-width: 342px;
        width: 100%;
      }
      &__text {
        @include body-18-light;
        line-height: 140%;
        color: $gray-500;
        margin-top: 12px;
        margin-bottom: 48px;
      }
    }
  }

  .mobile-wrapper-img {
    display: none;
    @media (max-width: $screen-md) {
      display: contents;
      max-width: 400px;
      width: 100%;
    }
    // &__wrapper-img {
    //   display: inline-block;
    // }
    &__text-img {
      @include body-18-light;
      font-size: 16px;
      line-height: 140%;
      color: $gray-500;
    }
  }
}
