@import "../../../../../../styles/App";

.link-structure {
  @include display(flex, row, flex-start, center);
  @media (max-width: $screen-md) {
    margin-top: 16px;
    margin-left: 16px;
  }

  &__home {
    @include body-18-regular;
    text-decoration-line: underline;
    @media (max-width: $screen-md) {
      font-size: 14px;
    }
  }
  &__current {
    @include body-18-regular;
    @media (max-width: $screen-md) {
      font-size: 14px;
    }
  }
}
