//LARGE CARD//

.large-card {   
    cursor: pointer;

    &__container{
        display: flex;
        width: 408px;
        height: 400px;
    }
    &__description{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: flex-end;
        text-decoration:none;
        width: 408px;
        height: 400px;
        background: no-repeat url(../../assets/img/Catalog-pics/Catalog_card_curtains.png);
        color: white;
        filter: brightness(65%);
        &:hover{
            filter: brightness(100%);
            transition: 0.4s;

        }
    }
    &__name{
        padding:0px 0px 32px 32px;
        @include heading-24-medium;
    }

    &__arrow{
        padding:0px 32px 32px 0px;
    }
}


//MEDIUM CARD

.medium-card {   
    cursor: pointer;

    &__container{
        display: flex;
        width: 516px;
        height: 200px;
    }
    &__description{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: flex-end;
        text-decoration:none;
        width: 516px;
        height: 200px;
        background: no-repeat url(../../assets/img/Catalog-pics/Catalog_card-pillows.png);
        color: white;
        filter: brightness(65%);
        &:hover{
            filter: brightness(100%);
            transition: 0.4s;

        }
    }
    &__name{
        padding:0px 0px 32px 32px;
        @include heading-24-medium;
    }

    &__arrow{
        padding:0px 32px 32px 0px;
    }
}
//SMALL CARD

.small-card {   
    cursor: pointer;

    &__container{
        display: flex;
        width: 720px;
        height: 190px;
    }
    &__description{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: flex-end;
        text-decoration:none;
        width: 720px;
        height: 190px;
        background-size: 100%;
        background: no-repeat url(../../assets/img/Catalog-pics/Catalog_card_lambrequins.png);
        color: white;
        filter: brightness(65%);
        &:hover{
            filter: brightness(100%);
            transition: 0.4s;

        }
    }
    &__name{
        padding:0px 0px 32px 32px;
        @include heading-24-medium;
    }

    &__arrow{
        padding:0px 32px 32px 0px;
    }
}