@font-face {
    font-family: "Noto Serif Regular";
    src: url("../../assets/fonts/NotoSans/NotoSerifRegular.ttf");
}

@font-face {
    font-family: "Noto Sans Medium";
    src: url("../../assets/fonts/NotoSans/NotoSansMedium.ttf");
}

@font-face {
    font-family: "Noto Sans Regular";
    src: url("../../assets/fonts/NotoSans/NotoSansRegular.ttf");
}

@font-face {
    font-family: "Noto Sans SemiBold";
    src: url("../../assets/fonts/NotoSans/NotoSansSemiBold.ttf");
}

@font-face {
    font-family: "Noto Sans Light";
    src: url("../../assets/fonts/NotoSans/NotoSansLight.ttf");
}
