// Mixins for reusing layouts, buttons and etc.

@mixin display($display: flex, $direction: unset, $justify_content: unset, $align_items: unset) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify_content;
  align-items: $align_items;
}

@mixin button($padding: 'basic', $type: 'primary', $color: '', $text: white) {
  @include display(flex, unset, center, center);
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  user-select: none !important;

  @if ($type == 'primary') {
    background-color: $primary;
  }

  @if ($type == 'secondary') {
    
  }

  @if ($type == 'disabled') {
  }

  @if ($type == 'transparent') {
    background-color: transparent;
    border: 1px solid black;
  }

  @if ($type == 'custom') {
    background-color: $color;
    color: $text;
  }

  @if ($padding == 'basic') {
      padding: 10px 14px;
  } @else {
      padding: $padding;
  }
}
