$background: #fafafa;

$purple-500: #602a48;
$purple-600: #4d223a;
$purple-400: #8e3e6a;
$purple-200: #d08fb3;
$purple-100: #ecd2e1;
$purple-50: #f7ebf2;

$brown-500: #867368;
$brown-600: #726158;
$brown-400: #a6978e;
$brown-350: #beb3ad;
$brown-200: #d9d3d0;
$brown-100: #ebe8e6;

$gray-500: #373b49;
$gray-450: #505669;
$gray-400: #6a7082;
$gray-350: #a1a4ae;
$gray-300: #c2c4cb;
$gray-250: #e2e3e6;
$gray-100: #f5f5f5;

$white: #ffffff;
$green: #59a70b;
$red: #ac0000;

$dark-65: rgba(30, 24, 21, 0.65);
$dark-55: rgba(24, 21, 19, 0.55);
$dark-20: rgba(30, 24, 21, 0.2);
$bright-20: rgba(255, 255, 255, 0.2);