.tag-cloud {
  @include display(flex, row, flex-start, center);
  &__item {
    @include display(flex, row, space-around, center);
    margin-left: 12px;
    border: 1px solid $gray-300;
    border-radius: 2px;       
  }
  &__item:first-child{
    margin-left: 0;
  }
  &__item-color-the-square {
    width: 24px;
    height: 24px;    
    border: 2px solid $gray-450;
    border-radius: 3px;
    margin-left: 12px;
  }
  &__item-name {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $gray-450;
    padding: 0 12px;   
  }
  &__item-button-cross {
    @include display(flex, none, center, center);
    cursor: pointer;
    padding: 9px 17px 9px 0;    
  }
  &__item-button-cross svg {
    fill: $gray-300;    
  }

  .remove-tag {
    background: $gray-250;
    
    .tag-cloud__item-name {
      text-decoration: line-through;
    }
    .tag-cloud__item-button-cross svg {
      fill: $gray-350;
    }
  }
}