@import "../../../../styles/App";

.cart {
  @include display(flex, column, flex-start, unset);
  margin-left: 80px;
  margin-top: 41px;
  margin-bottom: 53px;
  .wrapper {
    @include display(flex, row, space-between, flex-start);
  }
  .wrapper-cards-deliv-info {
    @include display(flex, column, flex-start, unset);
    max-width: 955px;
    width: 100%;
  }
}
