.select {
  width: 206px;
  height: 24px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;  

  color: $gray-350;
  border: none;
  cursor: pointer;  
}

