.index-slide {
    .wrapper {
        display: flex;

        &__current-slide,
        &__slides-length {
            @include heading-24-medium;
            color: $brown-400;
            display: flex;
            align-items: flex-end;
        }

        &__slides-length {
            font-size: 20px;
        }
    }
}
