@import "../../../../../../styles/App";

.save-erase-buttons {
  @include display(flex, column, center, center);
  width: 272px;
  max-width: 100%;
  margin-top: 56px;
  
  &__save-button, &__erase-button {
    width: 272px;
    max-width: 100%;
    @include body-18-medium;    
    box-shadow: none;
    padding: 12px 47px 14px;
  }

  &__save-button {    
    background-color: $brown-350;
    color: $white;    
  }
  &__save-button:hover {
    background-color: $brown-350;
    box-shadow: none;
  } 

  &__erase-button {
    color: $gray-300;
    border: 1px solid $brown-100;    
    margin-top: 16px;    
  }  
  &__erase-button:hover {
    background-color: transparent;
    border-color: $brown-100;
  }
}