@import "../../../../../../../styles/App";

.cards-module {
  @include display(flex, column, flex-start, none);
  &__filter-values {
    @include display(flex, row, space-between, center);
    .tag-cloud {
      @include display(flex, row, flex-start, center);
      flex-wrap: wrap;
      margin-right: auto;
      @media (max-width: $screen-md) {
        margin-top: 24px;
      }
    }
    .price-filter {
      @media (max-width: $screen-md) {
        display: none;
      }
    }
  }

  &__cards {
    margin-top: 40px;
    @include display(flex, row, space-between, center);
    flex-wrap: wrap;
  }
}
