@import "../../../../../../styles/App";

.categories {
  margin-top: 36px;
  width: 1440px;
  border-bottom: 1px solid $gray-250;
  @media (max-width: $screen-md) {
    margin-top: 32px;
  }
  &__list {
    @include display(flex, row, flex-start, center);
    list-style-type: none; 
    width: 100%;
    @media (max-width: $screen-md) {
      flex-wrap: nowrap;
    }  
  }
  &__item {      
    @include display(flex, column, center, center); 
    @include body-16-regular;             
    padding: 4px 16px;    
    height: 36px;
    background: $gray-100;
    cursor: pointer;
    margin-left: 2px;
    &:nth-child(1){
      margin-left: 0;      
    }  
    @media (max-width: $screen-md) {
      @include body-14-regular;
      padding: 2px 8px; 
    }    
  }         
}
