.dropdown-filter {  
  width: 272px;  
  margin-top: 32px;
  &__title-list {
    @include display(flex, row, space-between, center);
    cursor: pointer;
  }
  &__name-title {   
    @include body-20-medium;
    color: $gray-500;
  }

  &__icon {
    transition: transform 0.5s ease;
  }
  .rotate-icon {
    transform: rotate(180deg);
  }

  &__scrolling-block {  // настройка скролла
    width: 272px;    
    max-height: 186px;
    overflow-y: scroll;    
  }
  &__scrolling-block::-webkit-scrollbar {
    width: 10px;    
  }
  &__scrolling-block::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 5px;
    height: 100px;
  }   
  .item-filter {
    @include display(flex, row, flex-start, center);
    margin-top: 12px; 

    &__checkbox:checked, &__checkbox:not(:checked), &__name:checked, &__name:not(:checked) {
      display: inline-block;
      position: relative;      
      padding-left: 24px;        
      cursor: pointer;
    }
    &__checkbox:checked::before, &__checkbox:not(:checked)::before {
      content: "";
      position: absolute;
      left: 0px;
      top: -4px;
      width: 18px;
      height: 18px;
      border: 3px solid $gray-500;
      border-radius: 3px;
      background-color: $white;
    }
    &__checkbox:checked::after, &__checkbox:not(:checked)::after {
      content: "";
      position: absolute;    
      transition: all 0.2s ease;
    }
    &__checkbox:checked::after, &__checkbox:not(:checked)::after {
      left: 5.2px;
      top: 2px;
      width: 10px;
      height: 5px;      
      border-left: 3px solid $gray-500;
      border-bottom: 3px solid $gray-500;      
      transform: rotate(-45deg);
    }
    &__checkbox:not(:checked)::after {
      opacity: 0;
    }
    &__checkbox:checked::after {
      opacity: 1;
    }   

    &__name {
      @include body-16-regular;
      color: $gray-500;
      cursor: pointer;
    }    
  }
  .item-filter:last-child {
    margin-bottom: 5px;
  }
}