.home {
  &__start {    
    &__banner {
      @include display(flex, column, center, center);
      width: 100vw;
      height: 1072px;
      background: no-repeat url('../../assets/img/StartScreen.jpg');

      &__heading {
        width: 55rem
      }

      &__description {

      }
    }
  }
}