@import "../../../../../../styles/App";

.intresting-cards {
  max-width: 1012.99px;
  width: 100%;
  .title {
    @include heading-24-medium;
    color: $gray-500;
    margin-bottom: 24px;
  }
  .wrapper-cards {
    @include display(flex, row, flex-start, center);
  }
}
