@import "../../../../../../styles/App";

.custom-breadcrumbs-in-basket {
  margin-top: 31px;
  margin-bottom: 35px;
  &__typography {
    @include body-18-medium;
    color: $gray-500;
  }
  &__link {
    @include body-18-light;
    line-height: 140%;
    color: $gray-500;
  }
}
