.our-work {
    .heading {
        width: 90%;
        margin: 0 auto;
    }

    .slider {
        background-color: $gray-100;
        margin: 32px 0 166px;
        @media(max-width: $screen-xxl) {
            margin: 32px 0 91px;
            .slick-dots {
                bottom: 13px;
            }
        }

        img {
            width: 650px;
            height: 490px;
            @media(max-width: $screen-xxl) {
                width: 45%;
                height: 45%;
                order: 1;
                margin: 0 auto;
            }
            @media(max-width: $screen-md) {
                width: 70%;
                height: 70%;
            }
            @media(max-width: $screen-sm) {
                width: 311px;
                height: 178px;
            }
        }

        .work-content {
            display: flex !important;
            @media(max-width: $screen-md) {
                padding: 16px;
                flex-direction: column;
                height: auto;
            }

            .description-container {
                position: relative;
                padding: 80px 80px 35px 80px;
                @media(max-width: $screen-xxl) {
                    padding: 5%;
                }
                @media(max-width: $screen-md) {
                    flex-direction: column;
                    width: auto;
                    padding: 0;
                    order: 2;
                }

                &__description {
                    @include body-24-regular;
                    margin-bottom: 60px;
                    @media(max-width: $screen-md) {
                        margin: 16px 0 24px;
                        font-size: 14px;
                    }
                }

                @media(max-width: $screen-md) {
                    .button--secondary {
                        display: flex;
                        width: 100%;
                        margin: 24px 0 65px;

                        span {
                            margin: 0 auto;
                        }
                    }
                }
                
                .index-slide {
                    position: absolute;
                    right: 80px;
                    bottom: 38px;
                    @media(max-width: $screen-xxl) {
                        right: 5%;
                    }
                    @media(max-width: $screen-md) {
                        right: 0;
                        bottom: 0;

                        .index-slide-wrapper {
                            &__current-slide {
                                font-size: 18px;
                                font-weight: 400;
                            }

                            &__slides-length {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}
