.our-work {
    .heading {
        margin-left: 80px;
    }

    .slider {
        background-color: $gray-100;
        margin: 32px 0 166px;
    }

    &__content {
        display: flex !important;

        &__description-container {
            width: 950px;
            position: relative;
            padding: 80px 80px 35px 80px;

            &__description {
                @include body-24-regular;
                margin-bottom: 60px;
            }

            .index-slide {
                position: absolute;
                right: 80px;
                bottom: 38px;
            }
        }
    }
}
