@import "../../../../styles/App";

.reviews {
  &__container {
    max-width: 1600px;
  }

  &__heading {
    width: 90%;
    margin: 0 auto;
  }

  &__slider {
    margin: 32px 0 144px;
    @media (max-width: 767px) {
      margin: 16px 16px 165px;
    }

    @media (max-width: $screen-xl) {
      .slick-dots {
        bottom: 13px;
      }
    }

    .reviews-content {
      display: flex !important;
      background-color: $brown-500;
      @media (max-width: 767px) {
        position: relative;
        flex-direction: column;
        padding: 16px;
        width: auto !important;
        height: 315px;
      }

      .image-container {
        display: flex;

        img {
          width: 650px;
          height: 513px;
        }

        @media (max-width: $screen-xl) {
          flex: 2;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        @media (max-width: $screen-md) {
          img {
            width: 106px;
            height: 106px;
          }
        }

        .user {
          &--mobile {
            display: none;
          }

          @media (max-width: $screen-md) {
            color: $white;
            margin-left: 24px;

            &--mobile {
              display: block;
            }

            &__name {
              @include body-20-medium;
              @media (max-width: $screen-md) {
                margin-bottom: 6px;
              }
            }

            &__location {
              @include body-14-regular;
              @media (max-width: $screen-md) {
                font-weight: regular;
              }
            }
          }
        }
      }

      .description-container {
        color: $white;
        padding: 64px 80px;
        @media (max-width: $screen-xl) {
          padding: 5%;
          flex: 1;
        }
        @media (max-width: $screen-md) {
          margin-bottom: 41px;
          width: auto;
          display: flex;
          flex-direction: column;
          padding: 0;
        }

        .description {
          display: flex;
          justify-content: space-between;

          &__text {
            @include body-24-regular;
            font-style: italic;
          }

          &__icon {
            width: 92px;
            height: 69px;
            background-image: url("../../../../assets/svg/format_quote.svg");
          }

          @media (max-width: $screen-md) {
            &__icon {
              width: 35px;
              height: 27px;
              background-size: 35px 27px;
              margin: 16px 0 8px;
            }
            &__text {
              @include body-14-regular;
              font-style: italic;
            }
          }

          .index-slide {
            color: $brown-350;
            align-items: flex-start;
            @media (max-width: $screen-xl) {
              position: absolute;
              right: 16px;
              bottom: 16px;
            }

            .current-slide {
              font-size: 34px;
            }

            .slides-length {
              font-size: 30px;
            }
          }
        }

        .user {
          @media (max-width: $screen-md) {
            &--desktop {
              display: none;
            }
          }

          &__name {
            @include heading-48-medium();
            margin: 27px 0 12px;
          }

          &__location {
            @include body-18-light;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 12px;
          }
        }

        &__description {
          @include body-24-regular;
          font-style: italic;
        }
      }
    }
  }
}

.index-slide {
  .index-slide-wrapper {
    display: flex;

    &__current-slide,
    &__slides-length {
      @include heading-24-medium;
      font-size: 33px;
      color: $brown-400;
      display: flex;
      align-items: flex-end;
    }

    &__slides-length {
      font-size: 25px;
    }
  }
}

@media (max-width: 768px) {
  .index-slide {
    .index-slide-wrapper {
      &__current-slide {
        font-size: 18px;
      }

      &__slides-length {
        font-size: 14px;
      }
    }
  }
}
