@mixin heading-80-display-semi-bold {
  font-family: "Noto Serif Regular Display";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 112%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin heading-48-medium {
  font-family: "Noto Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
}

@mixin heading-40-medium {
  font-family: "Noto Serif Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}

@mixin heading-24-medium {
  font-family: "Noto Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

@mixin body-24-regular {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

@mixin body-20-medium {
  font-family: "Noto Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

@mixin body-18-semi-bold {
  font-family: "Noto Sans SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

@mixin body-18-medium {
  font-family: "Noto Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}

@mixin body-16-medium {
  font-family: "Noto Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

@mixin body-18-regular {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

@mixin body-18-regular-underlined {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-decoration-line: underline;
}

@mixin body-18-light {
  font-family: "Noto Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

@mixin body-16-light {
  font-family: "Noto Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

@mixin body-14-light {
  font-family: "Noto Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

@mixin body-24-light {
  font-family: "Noto Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
}

@mixin body-16-regular {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@mixin body-14-regular {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
