@import "../../../../../../styles/App";

.nothing-found {
  @include display(flex, column, center, center);
  margin-top: 52px;
  margin-bottom: 96px;
  .title {
    @include heading-24-medium;          
    color: $gray-400;
  }
  .img {
    margin: 24px 0px;      
  }
  .subtitle {
    margin-top:24px;
    margin-bottom: 48px;      
    li {
      @include body-24-light;
      color: $gray-400;
    }
    li::marker {
      font-size: 18px;
    }
  }
  
  .button-on-constructor {
    width: 336px;
    max-width: 100%;
    @include body-18-medium;    
    box-shadow: none;
    padding: 24px 48px 26px;
    background-color: $brown-500;
    color: $white;
    margin-bottom: 96px;
  }
}  
