@import "../../../../styles/App";

.catalog-layout {
  margin-top: -200px;
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 200px 200px 190px;
  gap: 0px 0px;
  grid-template-areas:
    "top-left center center top-right"
    "center-left center center center-right"
    "bottom-left bottom-left bottom-right bottom-right";

  &__center {
    grid-area: center;
  }
  &__top-left {
    grid-area: top-left;
  }
  &__center-left {
    grid-area: center-left;
  }
  &__bottom-left {
    grid-area: bottom-left;
  }
  &__top-right {
    grid-area: top-right;
  }
  &__center-right {
    grid-area: center-right;
  }
  &__bottom-right {
    grid-area: bottom-right;
  }

  @media (max-width: $screen-xl) {
    margin-top: 72px;
    margin-bottom: 72px;
    transform: translateY(0px);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
  }
}

.category-card {
  cursor: pointer;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $gray-100;
  box-shadow: inset 0 0 0 500px $dark-65;
  transition: 0.2s ease-in-out;

  @media (max-width: $screen-xl) {
    width: 43vw;
    height: 43vw;
  }

  &:hover {
    box-shadow: inset 0px -120px 120px $dark-65;
  }

  &:hover &__arrow {
    opacity: 1;
  }

  &__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
    color: white;
  }

  &__name {
    padding: 0px 0px 32px 32px;
    @include heading-24-medium();

    @media (max-width: $screen-xl) {
      padding: 0px 0px 12px 12px;
      @include body-16-regular();
    }
  }

  &__arrow {
    padding: 0px 32px 32px 0px;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &--curtains {
    background-image: url(../../../../assets/img/CatalogCategories/Шторы.png);
  }

  &--bedspreads {
    background-image: url(../../../../assets/img/CatalogCategories/Покрывала.png);
    background-position-y: 94%;
    background-position-x: 60%;
    background-size: 105%;

    @media (max-width: $screen-xl) {
      background-position-x: 36%;
      background-size: 160%;
    }
  }

  &--pillows {
    background-image: url(../../../../assets/img/CatalogCategories/Подушки.png);
    background-position-y: 48%;

    @media (max-width: $screen-xl) {
      background-position-x: right;
    }
  }

  &--fabrics {
    background-image: url(../../../../assets/img/CatalogCategories/Ткани.png);
    background-position-y: 50%;

    @media (max-width: $screen-xl) {
      background-position-x: 44%;
    }
  }

  &--accessories {
    background-image: url(../../../../assets/img/CatalogCategories/Фурнитура.png);
    background-position-y: 40%;

    @media (max-width: $screen-xl) {
      background-position-x: 80%;
    }
  }

  &--lambrequins {
    background-image: url(../../../../assets/img/CatalogCategories/Ламбрекены.png);
    background-position-x: center;
  }

  &--sale {
    background-image: url(../../../../assets/img/CatalogCategories/Распродажа.png);

    @media (max-width: $screen-xl) {
      width: 100vw;
      height: 100px;
    }
  }
}
