@import "../../../../styles/App";

.why-we-are {
  &__content {
    margin-top: 48px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

    @media (max-width: $screen-xl) {
      margin-top: 32px;
      margin-bottom: 60px;
      row-gap: 14px;
    }
  }
}

.why-we-are-item {
  width: 190px;
  height: 271px;
  @media (max-width: $screen-sm) {
    width: 152px;
    height: 218px;
  }

  &__image {
    width: 124px;
    height: 124px;
    background: $brown-600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    @media (max-width: $screen-sm) {
      width: 96px;
      height: 96px;
    }
  }

  &__icon {
    width: 66px;
    height: 66px;
  }

  &__text {
    @include body-24-regular;
    color: $brown-600;
    @media (max-width: $screen-sm) {
      font-size: 16px;
    }
  }
}
