.gallery {
    &__container {
        width: 1440px;
        margin: 0 auto;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
        }

        &__content {
            display: flex;
            margin: 36px 0 132px;
        }
    }
}
