.gallery {
    .gallery-container {
        width: 90%;
        margin: 0 auto;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
        }

        &__content {
            display: flex;
            overflow-x: auto;
            margin: 36px 0 132px;
        }
    }
}

@media (max-width: 768px) {
    .gallery {
        .gallery-container {
            &__header {
                .button--transparent {
                    padding: 8px;
                    display: flex;

                    .button-arrow {
                        width: 8px;
                        height: 12px;
                    }
                }
            }

            &__content {
                margin: 32px 0 88px;
            }
        }
    }
}
