.banner {
  width: 100vw;
  height: 841px;
  background: url(../../../assets/img/banner.jpg);
  object-fit: cover;

  @media (max-width: $screen-md) {
    height: 812px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 188px;
    text-align: center;

    @media (max-width: $screen-md) {
      margin: 0 16px;
      padding-top: 272px;
    }
  }

  &__headline {
    margin-bottom: 16px;
    color: $white;
    @include heading-80-display-semi-bold;

    @media (max-width: $screen-md) {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }

  &__subtitle {
    @include body-24-regular;
    color: $white;

    @media (max-width: $screen-md) {
      font-size: 16px;
    }
  }

  &__button {
    display: block;
    margin-top: 32px;
    margin-right: 0px;
    padding: 24px 48px;
    background: $gray-100;

    @media (max-width: $screen-md) {
      margin-top: 64px;
      width: 100%;
      padding: 10px 0;
      background: transparent;
      border: 1px solid $white;
    }
  }

  &__button-text {
    @include body-18-regular();
    color: $gray-500;

    @media (max-width: $screen-md) {
      color: $white;
    }
  }

  &__arrow {
    margin: 0 auto;
    padding-top: 232px;
    display: none;
    color: $white;
    font-size: 24px;

    @media (max-width: $screen-md) {
      display: block;
    }
  }
}
