.slider {
    .slick-slider {
        .slick-dots {
            margin-bottom: -32px;
            display: flex !important;
            justify-content: space-between;

            .slick-active {
                background: $brown-400;
            }
        }

        .slick-dots li,
        .slick-dots li button {
            width: 220px;
            height: 6px;
            @media (max-width: $screen-xxl) {
                width: 144px;
            }
            @media (max-width: 1023px) {
                width: 108px;
            }
            @media (max-width: $screen-md) {
                width: 96px;
                height: 3px;
            }
            @media (max-width: $screen-sm) {
                width: 48px;
            }
        }

        .slick-dots li {
            margin: 0;
            background: $brown-200;
        }

        .slick-dots li button {
            padding: 0;

            &::before {
                display: none;
            }
        }
    }
}

