.slider {
    .slick-slider {
        .slick-dots {
            margin-bottom: -32px;
            display: flex !important;
            justify-content: space-between;
        }

        .slick-dots li {
            width: 220px;
            height: 6px;
            margin: 0;
            background: $brown-200;
        }

        .slick-dots li button {
            width: 220px;
            height: 6px;
            padding: 0;

            &::before {
                display: none;
            }
        }

        .slick-dots .slick-active {
            background: $brown-400;
        }
    }


}

@media (max-width: 1599px) {
    .slider {
        .slick-slider {
            .slick-dots li,
            .slick-dots li button {
                width: 144px;
                height: 3px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .slider {
        .slick-slider {
            .slick-dots li,
            .slick-dots li button {
                width: 108px;
                height: 3px;
            }
        }
    }
}

@media (max-width: 767px) {
    .slider {
        .slick-slider {
            .slick-dots li,
            .slick-dots li button {
                width: 96px;
                height: 3px;
            }
        }
    }
}

@media (max-width: 480px) {
    .slider {
        .slick-slider {
            .slick-dots li,
            .slick-dots li button {
                width: 48px;
                height: 3px;
            }
        }
    }
}
