.reviews {
    .heading {
        margin-left: 80px;
    }

    .slider {
        margin: 32px 0 144px;
    }

    .reviews-content {
        height: 513px;
        display: flex !important;

        .description {
            width: 950px;
            color: $white;
            background-color: $brown-500;
            padding: 64px 80px;

            div {
                display: flex;
                justify-content: space-between;

                img {
                    margin: 0 !important;
                }

                .index-slide {
                    color: $brown-350;
                    align-items: flex-start;

                    .current-slide {
                        font-size: 34px;
                    }

                    .slides-length {
                        font-size: 30px;
                    }
                }
            }

            &__user {
                @include heading-40-medium;
                margin: 27px 0 12px;
            }

            &__location {
                @include body-24-regular;
                font-weight: 300;
                margin-bottom: 12px;
            }

            &__description {
                @include body-24-regular;
                font-style: italic;
            }
        }
    }
}
