@import "../../../../../../../styles/App";

.priceFilter {
  &__select {
    width: 206px;
    height: 24px;
    @include body-16-regular;
    background-color: transparent;
    color: $gray-350;
    border: none;
    cursor: pointer;
  }
}
