@import "@styles/App";

.tooltip {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__title {
    @include body-20-medium();
    font-size: 16px;
    color: $gray-500;
  }

  &__icon {
    margin-left: 18px;
    color: $gray-500;
    font-size: 20px;
  }

  &__popper {
    padding: 16px;
    max-width: 311px;
    background-color: $white;
    color: $gray-500;
    filter: drop-shadow(0px 0px 10px rgba(64, 64, 64, 0.15));
  }

  &__arrow {
    color: $white;
  }

  &__text {
    @include body-18-light();
    font-size: 14px;
    line-height: 140%;

    &--bold {
      @include body-14-regular();
    }
  }
}
