.footer {
  height: 305px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $gray-500;
  background-color: $gray-100;

  &__container {
    display: flex;
    @include body-18-regular();
  }

  &__logo {
    padding-right: 290px;
  }

  .nav {
    display: flex;
    column-gap: 180px;

    &__list {
      width: max-content;
      list-style: none;
    }

    &__item {
      padding-bottom: 16px;
    }

    &__link:hover {
      text-decoration: underline;
    }
  }

  .contacts {
    padding-left: 180px;
  }
}
