.footer {
  height: 305px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $gray-500;
  background-color: $gray-100;

  @media (max-width: $screen-md) {
    height: auto;
  }

  &__container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    @include body-18-regular();

    @media (max-width: $screen-md) {
      grid-template-columns: none;
    }
  }

  &__logo {
    padding-right: 217px;

    @media (max-width: $screen-md) {
      margin: 0 auto;
      margin-top: 80px;
      padding-right: 0;
      order: 2;
    }
  }

  .nav {
    display: flex;
    column-gap: 180px;

    @media (max-width: $screen-md) {
      order: 1;
      flex-direction: column-reverse;
    }

    .accordion {
      @media (max-width: $screen-md) {
        border-bottom: 1px solid $gray-500;
        padding-bottom: 6px;
      }

      &__button {
        padding: 12px 0;
        color: $gray-500;
      }

      &__content {
        transition: max-height 0.6s ease;
      }

      &__icon {
        font-size: 22px;
      }
    }

    &__list {
      width: max-content;
      list-style: none;
    }

    &__item {
      padding-bottom: 16px;

      @media (max-width: $screen-md) {
        margin-top: 14px;
        padding-bottom: 0;
      }
    }

    &__link {
      @media (max-width: $screen-md) {
        @include body-18-light();
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .contacts {
    padding-left: 150px;

    @media (max-width: $screen-md) {
      order: 3;
      margin-top: 26px;
      padding-left: 0;

      &__heading {
        display: none;
      }

      &__wrapper {
        flex-direction: column;
        @include body-14-regular();
        text-align: center;

        &:nth-of-type(2) {
          padding-bottom: 0;
        }

        &:nth-of-type(3) {
          .contacts__icon {
            display: none;
          }
        }
      }

      &__icon {
        margin: 0 auto;
        padding-bottom: 10px;
        padding-right: 0;

        &--place {
          transform: scale(1);
        }
      }

      &__text {
        padding-bottom: 10px;
      }

      &__instagram {
        text-decoration: underline;
      }
    }
  }
}
