@import "@styles/App";

.form-nav {
  float: right;
  margin-top: -104px;
  padding: 16px;
  width: 343px;
  display: flex;
  column-gap: 13px;

  &__button {
    width: 100%;
    height: 48px;
  }
}
