*{    
    margin: 0;
    box-sizing: border-box;
}
/*THIS IS XL CARD*/
.XL-card{
    display: flex; //ВОЗМОЖНО УБРАТЬ ФЛЕКС
    justify-content: center;
    align-items: center;
    max-width: 408px;
    max-height: 400px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
    
    
    //@include cardBorder($brown-200);

    &__inner{
        object-fit: fill;
        max-width: 408px;
        max-height: 400px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.6);

        &__img{
            /*&:hover {
            opacity: 1;
            transition-duration: 0.4s;
            }*/
            img{
                width: 408px;
                height: 400px;
            }
        }
    }


    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 408px;
        height: 400px;
        position: absolute;
        text-decoration: none;
        padding-bottom: 32px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

        a{
            opacity: 0;
        }

        &:hover{
            a{
                transition:0.4s;
                opacity: 1;
            }
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

        }

        h1{
            width: auto;
            padding-left: 32px;
            align-self:flex-end;
            color: $background;
        }

        a{  
            width: 14px;
            height: 20px;
            color: $background;
            align-self:flex-end;
            padding-right: 37px;
        }
    }
}


/*THIS IS M CARD*/

.M-card{
    display: flex; //ВОЗМОЖНО УБРАТЬ ФЛЕКС
    justify-content: center;
    align-items: center;
    max-width: 516px;
    max-height: 200px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
    
    
    //@include cardBorder($brown-200);

    &__inner{
        max-width: 516px;
        max-height: 200px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.6);

        &__img{
            /*&:hover {
            opacity: 1;
            transition-duration: 0.4s;
            }*/
            img{
                object-fit:cover;
                width: 516px;
                height: 200px;
            }
        }
    }


    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 516px;
        height: 200px;
        position: absolute;
        text-decoration: none;
        padding-bottom: 32px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

        a{
            opacity: 0;
        }

        &:hover{
            a{
                transition:0.4s;
                opacity: 1;
            }
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

        }

        h1{
            padding-left: 32px;
            align-self:flex-end;
            color: $background;
        }

        a{  
            width: 14px;
            height: 20px;
            color: $background;
            align-self:flex-end;
            padding-right: 37px;
        }
    }
}

/*THIS IS S CARD*/

.S-card{
    display: flex; //ВОЗМОЖНО УБРАТЬ ФЛЕКС
    justify-content: center;
    align-items: center;
    max-width: 720px;
    max-height: 190px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
    
    
    //@include cardBorder($brown-200);

    &__inner{
        max-width: 720px;
        max-height: 190px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.6);

        &__img{
            /*&:hover {
            opacity: 1;
            transition-duration: 0.4s;
            }*/
            img{
                object-fit:cover;
                width: 720px;
                height: 190px;
            }
        }
    }


    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 720px;
        height: 190px;
        position: absolute;
        text-decoration: none;
        padding-bottom: 32px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

        a{
            opacity: 0;
        }

        &:hover{
            a{
                transition:0.4s;
                opacity: 1;
            }
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

        }

        h1{
            padding-left: 32px;
            align-self:flex-end;
            color: $background;
        }

        a{  
            width: 14px;
            height: 20px;
            color: $background;
            align-self:flex-end;
            padding-right: 37px;
        }
    }
}