@import "../../../../styles/App";

.card {
  box-sizing: border-box;
  cursor: pointer;
  width: 15vw;
  height: 400px;
  padding: 16px;
  background-color: $background;
  transition: 0.5s;

  @media (max-width: $screen-md) {
    width: 208px;
  }

  &:hover {
    border: 1px solid $brown-200;
    box-shadow: 0px 0px 10px rgba(64, 64, 64, 0.15);
    z-index: 100;
  }

  &__img {
    width: 100%;
    height: 266px;
    object-fit: cover;
    opacity: 0.8;
  }

  &:hover &__img {
    opacity: 1;
  }

  &__name {
    width: 210px;
    height: 52px;
    padding-top: 15px;
    @include body-18-light;
    color: $gray-500;
    text-transform: uppercase;
  }

  &__price {
    width: 210px;
    height: 20px;
    padding-top: 12px;
    @include body-20-medium;
    color: $brown-500;
  }
}
