.app {
  background-color: $background;
  min-height: 100vh;
  overflow-y: hidden;
}

//Import pages
@import './pages/Home';

//Import components
@import './components/itemCard.scss';
@import './components/CatalogCard.scss';
@import './components/Layout.scss';