.app {
    background-color: $background;
    max-width: 1600px;
    min-height: 100vh;
    overflow-y: hidden;
}

//Import pages
@import "./pages/Home";
//Import conponents
@import "./components/Card";