.app {
  background-color: $background;
  min-height: 100vh;
  overflow-y: hidden;
}

//Import pages
@import './pages/Home';

//Import components
@import '../../components/Card';
@import '../../components/Catalog';
@import '../../components/Catalog/CatalogLayout';
@import '../../components/Banner';
@import '../../components/Catalog/SortingPriceBlock/index.scss'