@import "../../../../../../styles/App";

.tag-cloud {
  @include display(flex, row, flex-start, center);
  flex-wrap: wrap;
  @media (max-width: $screen-xl) {
    margin-left: 8px;
  }
  &__item {
    @include display(flex, row, space-around, center);
    border: 1px solid $gray-300;
    border-radius: 2px;
    margin-right: 12px;
    margin-top: 12px;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: $screen-xl) {
      margin-top: 8px;
    }
  }
  &__item-color-the-square {
    width: 24px;
    height: 24px;
    border: 2px solid $gray-450;
    border-radius: 3px;
    margin-left: 12px;
    @media (max-width: $screen-xl) {
      margin-left: 8px;
    }
  }
  &__item-name {
    @include body-16-regular;
    color: $gray-450;
    padding: 0 12px;
    @media (max-width: $screen-xl) {
      @include body-14-regular;
      padding: 0 6px;
    }
  }
  &__item-button-cross {
    @include display(flex, none, center, center);
    cursor: pointer;
    padding: 9px 17px 9px 0;
    @media (max-width: $screen-xl) {
      padding-right: 13px;
    }
  }
  &__item-button-cross svg {
    fill: $gray-300;
  }

  .remove-tag {
    background: $gray-250;

    .tag-cloud__item-name {
      text-decoration: line-through;
      padding-left: 6px;
    }
    .tag-cloud__with-color-tag {
      padding-left: 12px;
    }
    .tag-cloud__item-button-cross svg {
      fill: $gray-350;
    }
  }
}
