@import "../../../../../../styles/App";

.top-filter {
  max-width: 263px;
  width: 100%;
  margin-bottom: 42px;
  .item-filter {
    @include display(flex, row, flex-start, center);
    margin-top: 22px;
  
    &__checkbox:checked,
    &__checkbox:not(:checked),
    &__name:checked,
    &__name:not(:checked) {
      display: inline-block;
      position: relative;
      padding-left: 24px;
      cursor: pointer;
    }
    &__checkbox:checked::before,
    &__checkbox:not(:checked)::before {
      content: "";
      position: absolute;
      left: 0px;
      top: -5px;
      width: 18px;
      height: 18px;
      border: 3px solid $gray-500;
      border-radius: 3px;
      background-color: $white;
    }
    &__checkbox:checked::after,
    &__checkbox:not(:checked)::after {
      content: "";
      position: absolute;
      transition: all 0.2s ease;
    }
    &__checkbox:checked::after,
    &__checkbox:not(:checked)::after {
      left: 5.2px;
      top: 2px;
      width: 10px;
      height: 5px;
      border-left: 3px solid $gray-500;
      border-bottom: 3px solid $gray-500;
      transform: rotate(-45deg);
    }
    &__checkbox:not(:checked)::after {
      opacity: 0;
    }
    &__checkbox:checked::after {
      opacity: 1;
    }
    &__name {
      @include body-16-regular;
      color: $gray-500;
      cursor: pointer;
    }
    &__icon {
      margin-left: auto;
    }
  }
  .item-filter:last-child {
    margin-bottom: 5px;
  }
}



