// body {
//   overflow: hidden;
// }

a {
  text-decoration: none;
  color: inherit;
}

.app {
  background-color: $background;
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: $screen-xl) {
    margin: 0 16px;
  }
}

//Import common
@import "./common/logo.scss";
@import "./common/contacts.scss";

//Import pages

//Import components
@import "../components/Header";
@import "../components/Header/CataloguePopup";
@import "../components/Header/SearchBar";

@import "../components/Accordion";
@import '../components/Catalog/DropdownFilter/index.scss';
@import "../components/Catalog/DropdownColorFilter/index.scss";
@import "../components/Catalog/PriceRangeFilter/index.scss";

@import "../components/Footer";
