// body {
//   overflow: hidden;
// }

a {
  text-decoration: none;
  color: inherit;
}

.app {
  background-color: $background;
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  padding-right: 80px;
  padding-left: 80px;

  @media (max-width: $screen-xl) {
    padding-right: 19px;
    padding-left: 19px;
  }
}

//Import pages
@import './pages/Home';

@import '../components/Header';
@import '../components/Header/CataloguePopup';
@import '../components/Header/SearchBar';

@import '../components/Footer';

