.accordion {
  &__button {
    width: 100%;
    display: none;
    background: none;

    @media (max-width: $screen-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__icon {
    transition: transform 0.6s ease;

    &--rotate {
      transform: rotate(90deg);
    }
  }

  &__content {
    max-height: max-content;
    overflow: auto;

    @media (max-width: $screen-md) {
      max-height: 0px;

      &--active {
        max-height: max-content;
      }
    }
  }
}
