.accordion {
  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
  }

  &__icon {
    transition: transform 0.6s ease;

    &--rotate {
      transform: rotate(90deg);
    }
  }

  &__content {
    max-height: 0px;
    overflow: auto;

    &--active {
      max-height: max-content;
    }
  }
}
